altgraph==0.17.4
asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
Django==5.2
filelock==3.18.0
fsspec==2025.3.2
gunicorn==23.0.0
huggingface-hub==0.31.4
idna==3.10
macholib==1.16.3
numpy==2.2.5
packaging==25.0
pandas==2.2.3
pdfkit==1.0.0
pillow==11.2.1
psycopg2==2.9.10
py4j==0.10.9.7
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
pypdf==5.5.0
PyPDF2==3.0.1
pyspark==3.5.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.5.3
setuptools==80.4.0
six==1.17.0
sqlparse==0.5.3
tokenizers==0.21.1
tqdm==4.67.1
transformers==4.51.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
whitenoise==6.9.0
wkhtmltopdf==0.2
