{% extends "dashboards/topics_dashboard.html" %}

{% block content %}
<div class="topics">
    {% for topic, items in structure.items %}
        <div style="margin-bottom: 1.5rem;">
            <h2>{{ topic }}</h2>

            {# Top-level files directly under topic #}
            {% if items.root_files %}
                <ul style="margin-left: 1rem;">
                    {% for file in items.root_files %}
                        <li>
                            <a href="{% url 'tutorials' file_path=topic|add:'/'|add:file %}">
                                {{ file }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {# Subfolders and their files #}
            {% for subfolder, files in items.items %}
                {% if subfolder != "root_files" %}
                    <h4 style="margin-left: 1rem;">{{ subfolder }}</h4>
                    <ul style="margin-left: 2rem;">
                        {% for file in files %}
                            <li>
                                <a href="{% url 'tutorials' file_path=topic|add:'/'|add:subfolder|add:'/'|add:file %}">
                                    {{ file }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
