{% extends "dashboards/topics_dashboard.html" %}

{% block content %}
  <style>
    .center-box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .form-container {
      text-align: center;
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  </style>
  <div class="center-box">
    <div class="form-container">
      <h1>Login</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
{% endblock %}
